.wrapper{
	display: block;
	box-sizing: border-box;
	width: 1200px;
	font-size: 0px;
	margin: 0px auto;
}
.header{
	font-size: 24px;
	display: block;
	box-sizing: border-box;
	background-color: grey;
	font-weight: 800;
	padding: 15px 20px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 10px;
}
.log_button_block {
	display: inline-block;
	box-sizing: border-box;
}
.log_button {
	width: 120px;
	padding: 10px;
	margin: 5px;
	background: lightgrey;
	border-radius: 15px;
	font-weight: 800;
	font-size: 18px;
}
.books_content {
	display: block;
	padding-top: 30px;
	font-size: 24px;
}
.book{
	display: block;
	box-sizing: border-box;
	border: 2px solid lightgrey;
	border-radius: 10px;
	padding: 10px;
}
.footer {
	display: block;
	box-sizing: border-box;
	background: grey;
	padding: 10px;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 15px;
}
.book_IMG {
	display: inline-block;
	box-sizing: border-box;
}
.img_description {
	vertical-align: top;
	width: 1020px;
	display: inline-block;
	box-sizing: border-box;
}
.bookNameLink {
	text-decoration: none;
	color: black;
	text-transform: uppercase;

}